<div class="row">
    
    <h2><%=resource_name.capitalize%>註冊</h2>
    <p>因為，所以，請透過google+ 帳號註冊</p>
    <%= link_to student_omniauth_authorize_path(:google_oauth2),:class=>"google_signin_button tiny" do%> 
      <div class="google-icon"><i class="fa fa-google-plus fa-2x"></i></div>
      <div class="google-letter">登入</div>
    <%end%>
</div>
