<div class="row">
	<div class="columns">
		<div class="course_list">
		<ul class="large-block-grid-4 small-block-grid-2">
		<% @courses.each do |c|%>
			<li>
				<div class="course_list_item clearfix">
					<h3 class="text-center"><%= link_to c.name, '/courses/'+c.id.to_s %></h3>
					<%#= link_to c.name, student_course_path(@student, c.id) %>
					<!-- <div class="columns"><%=c.course_date%></div>
					<div class="columns"><%=c.location%></div> -->
					<div class="columns">
					<%=link_to '退出課程', cancel_attendance_course_path(c)%>
					</div>
				</div>
			</li>
		<% end %>
		</ul>
		</div>
	</div>
</div>
