
<footer id="footer">
  <div class="row">
  <hr/>
    <div class="large-3 columns">
      <h4>讓我們知道你的想法:</h4>
      <a href="http://on.fb.me/1aIEVfr" class="radius button expand">聯絡我們</a>
    </div>
    <div class="large-4 columns">
      <div class="fb-like-box" data-href="http://www.facebook.com/learningbar" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>
    <div class="large-4 columns">
      <ul class="inline-list right">
      </ul>
    </div>
  </div>
  <div class="row">
    <h6 class="right">© Copyright LEARNINGBAR</h6>
  </div>
</footer>
