<%=render 'backbone/nologo_nav'%>
<div class="first_band clearfix">
  <div class="column large-12 large-centered">
    <h1 class="text-center"><%=link_to image_tag('learningbar.png'), courses_path%></h1>
      <h1 class="text-center">向頂尖程式開發者<br>
        學習一流開發技術</h1>
      <h4 class="text-center subheader">
        由新銳創業團隊擔任業師<br>
        富含實作精神的開發者學校<br>
      </h4>
      <hr/>
  </div>

</div>

<div class="row">
    <div class="large-3 columns">
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-lg fa-laptop fa-stack-1x"></i>
      </span><br/>
      學習網路產業實務的開發技術
      </h4>
      <p>LEARNINGBAR邀請網路產業的專業開發者開班授課，讓你用最直接的方法，學會實務的開發技術，增加學習效率。</p>
    </div>
    <div class="large-3 columns">
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-5x">
          <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i class="fa fa-lg fa-star fa-stack-1x"></i></span><br/>
        與網路專業開發者深度交流</h4>
      <p>你有任何想法希望得到專業的建議？或者你想要認識一流網路公司、增加未來接觸機會？在LEARNINGBAR，你將獲得與網路公司開發者深度交流的機會</p>
    </div>

    <div class="large-3 columns">
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-lg fa-save fa-stack-1x"></i>
        </span><br/>
        累積課程資歷</h4>
      <p>在LEARNINGBAR上過的課，都會被記錄起來，整合你個人撰寫的履歷，為你的開發實力背書</p>
    </div>
    <div class="large-3 columns">
      <h4 class="text-center">
        <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-lg fa-save fa-stack-1x"></i>
        </span><br/>
        累積課程資歷</h4>
      <p>在LEARNINGBAR上過的課，都會被記錄起來，整合你個人撰寫的履歷，為你的開發實力背書</p>
    </div>
  </div>