<%=render :partial=>"nologo_nav"%>
<div class="first_band">
<%=render 'main_logo'%>

<div class="row">
	<div class="columns">
		<h1>FAQ</h1>
		<h3>一期課程有多長？</h3>
		<p>Programs are offered four quarters a year. Winter quarter begins in January, followed by Spring quarter in April, Summer quarter in July and Fall quarter in October.</p>

		<h3>我需要花多少時間自修？</h3>
		<p>扣除上課時間，參加LEARNING BAR課程的學生預計每週需要花5~10小時自修；課程除了作業外，也期望學員有驅動自我成長，每次上課可以分享所學或疑問。</p>

		<h3>可以一次修兩門課嗎？</h3>
		<p>可以，但我們並不建議這麼做。為了使課程產生學習效果，每門課皆有一定的負荷，對於初學者來說，我們認為一次參與超過一門課不是很明智的決定。‘</p>

		<h3>如果想要退出，該如何辦理退費？</h3>
		<p>很抱歉聽到你想要退費！依照台北市規定，開課前後退費方案如下：</p>
		<h6>開課前</h6>
		若您在開課日前2個月要求退費，我們將全數退還。開課前7至前59天，我們酌收1000元手續費；開課日1週內提出則應退還8成費用。</p>
		<h6>開課後</h6>
		<p>實際開課日起第2（次）前提出退費申請，補習班應退還當期開班約定繳納費用總額的7成；開課日起第2天（次）且未超過全期的三分之一期間內，補習班應退還5成；若於開課課程三分之一後提出，補習班可以全數不予退還。</p>

		<h3>還有其他問題嗎？歡迎聯絡我們！</h3>
	</div>
</div>
