<%=render :partial=>"nologo_nav"%>
<div class="first_band">
<%=render 'main_logo'%>

<div class="row">
	<div class="columns">
		<h1>FAQ</h1>
		<h3>一期課程有多長？</h3>
		<p>Programs are offered four quarters a year. Winter quarter begins in January, followed by Spring quarter in April, Summer quarter in July and Fall quarter in October.</p>

		<h3>我需要花多少時間自修？</h3>
		<p>If you want to get the most out of your Starter League experience, expect to spend 20-30 hours per week outside of web development, and 5-10 hours per week outside of web design. We provide access to our space for you to work out of 24/7 (that is whenever our other classes aren't in session).</p>

		<h3>可以一次修兩門課嗎？</h3>
		<p>Yes. However, we don't encourage students to take on more than they can allocate time for. Both classes are intensive and we'd rather you focus on one or the other.</p>

		<h3>你們有提供獎學金嗎？</h3>
		<p>The program is not accredited and therefore not eligible for public grants or student loans. Our students have found many ways to finance their tuition, however. Personal loans/donations, campaigns on sites such as thepoint.com, or wepay.com, and convincing companies to sponsor them.</p>

		<h3>還有其他問題嗎？歡迎聯絡我們！</h3>
	</div>
</div>
