<nav class="courses_nav">
	<div class="row">
		<div class="large-10 large-centered columns">
		<div class="large-3 columns"><h4><%=link_to 'Web 開發', course_catagory_path("web-development")%></h4></div>
		<div class="large-3 columns"><h4><%=link_to 'iOS app開發', course_catagory_path("ios")%></h4></div>
		<div class="large-3 columns"><h4><%=link_to 'Android app開發', course_catagory_path("android")%></h4></div>
		<div class="large-3 columns"><h4><%=link_to '前端界面設計', course_catagory_path("front-end")%></h4></div>
		</div>
	</div>
</nav>
