<div class="row">
	<div class="columns">
		<h1>成功報名課程:<%=@course.name%></h1>
		<%=link_to '返回課程', course_path(@course)%>
		<!-- <#link_to '查看課程記錄', courses_student_path('me'), :class=>'button'> -->
	</div>
</div>


