<h1><%=@course.name%></h1>
<ul class="large-block-grid-12 small-block-grid-4">
	<%@students.each do |s|%>
		<li>
			<div><%=link_to s.username, student_path(s.id)%></div>
			<div><%=s.course_expect%></div>
		</li>
	<%end%>
</ul>