@import "user_styles";
.about_me{
	height: 300px;
}
.user_avatar_wrapper{
	position: relative;
	margin-bottom: 5px;
	&:hover{
		.edit_avatar{
			display:block;
			text-decoration: underline;
		}
	};
}
.edit_avatar{
	color: white;
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: none;
	cursor: pointer;
}
.user_table{
	text-align: center;
	.user_avatar{
	}
}

.course_list{
	.course_list_item{
		width: 99%;
		@include show_border;
	}

}
.skill_board{
	@include show_border;
}