// Place all the styles related to the Backbone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";
section.top-bar-section{
	ul{
		background-color:black;
	}
}
.first_band{
	height: 400px;
	background-image: url(image_path('mainbanner.jpg'));
	background-size:cover;
	padding-top:20px;
	.slogan_container{
		margin-top: 5%;
	}
	h1{
		color: white;
	};
	h4{
		color:$beer-orange;
	}
}
.second_band{
	background-color:#FDD62E;
}
.third_band{
	background-color: $beer-orange;
	img{
		width:100%;
	}
}

footer{
	background: black;
	clear: both;
  	
  	h1,h2,h3,h4,h5,h6{
    	color:white;
  }
}
