// Place all the styles related to the Backbone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.first_band{
	background-image: url(image_path('mainbanner.jpg'));
	background-size:cover;
	padding-top:20px;
	h1{
		color: white;
	};
	h4{
		color:rgba(248,127,25,1);
	}
}

.second_band{
	background: red;
}