// Place all the styles related to the Backbone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";
section.top-bar-section{
	ul{
		background-color:black;
	}
}
.first_band{
	height: 400px;
	background-image: url(image_path('mainbanner.jpg'));
	background-size:cover;
	padding-top:20px;
	.slogan_container{
		margin-top: 5%;
	}
	h1{
		color: white;
	};
	h4{
		color:$beer-orange;
	}
}
.second_band{
	background-color:#FDD62E;
}
.third_band{
	background-color: $beer-orange;
	img{
		width:100%;
	}
}

footer{
	clear: both;
}
.forget_password_link{
	margin-top: 33px;
}

.file_selection_button{
	position: relative;
	overflow: hidden;
	@include button;
	.test{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
