// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation_and_overrides";
.course_content{
}
.course_sidebar{
	fieldset{
		margin-top: 0px;	

	}
}
#cancel_confirmation{
	@include reveal-modal-style(
		$top-offset:100px
	);
}
.cancel-success{
	h6{
		color:white;
		text-align: center;
	};
}