@import 'foundation';
.add_skill_button{
		@include button();
	};
.add_skill_form{
	textarea{
		min-height: 10em;
	}
}

.skill_board{
	.skill_item{
		min-height: 6em;
		padding-top: 2em;
		display: block;
	}
	hr{
		margin-bottom: 0px;
	}
	@include grid-column(12);
	.skill_controll_panel{
		float: right;
		position: absolute;
		right: 0px;
		margin-top: -2em;
	}
}