// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";
.about_me{
	height: 300px;
}


.user_table{
	margin-top: 4em;
	text-align: center;
	.user_avatar{
		.gravatar{
			margin:0 auto;
			border-radius: 15px;
			width:128px;
			height:128px;
		}
	}
}